<link href="/assets/reset.css" rel="stylesheet" type="text/css" />
<link href="/assets/structure.css" rel="stylesheet" type="text/css" />
<div class="indexpage">
  <%=link_to 'Admin Section',"/administer"%>
</div>  
